<% include ../partials/header.ejs %>

  <h1>Pessoas</h1>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
      <% pessoas.map( pessoa => { %> 
    <tr>
      <td><%= pessoa.nome %></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Left</button>
          <button type="button" class="btn btn-secondary">Middle</button>
          <button type="button" class="btn btn-secondary">Right</button>
        </div>
      </td>
    </tr>
  <% }) %>
  </table>
      
<% include ../partials/footer.ejs %>
