<% include patials/header.ejs %>

    <div class="starter-template">
        <h1>Erro 404</h1>
        <p class="lead">Tente novamente mais tarde.</p>
    </div>

<% include partials/footer.ejs %>